body {
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
}

.container {
    width: 60%;
    margin: auto;
    background: white;
    padding: 20px;
    margin-top: 50px;
    box-shadow: 0 0 10px gray;
}

input, textarea {
    width: 80%;
    padding: 10px;
    margin: 10px;
}

button {
    padding: 10px 20px;
    background: #2c3e50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #34495e;
}

ul {
    text-align: left;
    margin-left: 20%;
}
